* {
  padding: 0;
  margin: 0;
}


body {
  font-family: 'Raleway', sans-serif;
  background: #43464b;
  color: white;
  font-size: 16px;
}

header {
  width: 100%;
  background-color: #708090;
}

.title {
  width: 100%;
  margin: 0 auto;
}

.title h1 {
  font-size: 1.5rem;
  padding: 10px 0;
  text-align: center;
  font-weight: 300;
}

span {
  cursor:pointer
}

.timers {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 10% auto;
}

.timers h2 {
  font-size: 1.3rem;
  font-weight: 300;
}

.timers p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.stopwatch h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 75px;
}

.stopwatch p {
  font-size: 1.5rem;
  padding-top: 10px;
}

.stopwatch {
  text-align: center;
  border: 1px solid white;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 5px auto 20px;
  line-height: 20px;
  background: #3c3f43;
}


.stopwatchgreen h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 75px;
}

.stopwatchgreen p {
  font-size: 1.5rem;
  padding-top: 10px;
}

.stopwatchgreen {
  text-align: center;
  border: 1px solid #91c465;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 5px auto 20px;
  line-height: 20px;
  background: #3c3f43;
}


.stopwatchred h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 75px;
}

.stopwatchred p {
  font-size: 1.5rem;
  padding-top: 10px;
}

.stopwatchred {
  text-align: center;
  border: 1px solid red;
  border-radius: 50%;

  height: 200px;
  width: 200px;
  margin: 5px auto 20px;
  line-height: 20px;
  background: #3c3f43;
}

.session button {
  background: white;
  outline: none;
  border: none;
}


button {
  border: 1px solid white;
  outline: none;
  background: inherit;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1em;
  font-weight: 200;
  color: white;
  margin: 0 5px;
  padding: 8px 10px;
}

.button {
  text-align: center;
  margin-top: 40px;

}


.disabled {
  pointer-events: none;
}

.green {
  color: #91c465;
}

.red {
  color: red;
}

.pomodoro {
  margin-bottom: 10px;

}

@media only screen and (min-width: 600px) {
  
.timers {
  width: 50%;
  margin-bottom: 8%;
}

.timers h2 {
  font-size: 1.8rem;

}

.timers p {
  font-size: 1.6rem;
}
  
  .stopwatch, .stopwatchgreen, .stopwatchred {
    height: 300px;
    width: 300px;
  }

  .stopwatch h2, .stopwatchred h2, .stopwatchgreen h2 {
    margin-top: 135px;
    font-size: 2rem;
  }  
  
  .stopwatch p, .stopwatchred p, .stopwatchgreen p {
    font-size: 2rem;
  }  
  
  button {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 750px) {
  
  .title h1 {
    font-size: 2rem;
  }

  .timers {
    margin-top: 5%;
    width: 350px;
  }
  
    button {
      font-size: 1.4rem;
      margin-top: 30px;
    }
  }
  
  @media only screen and (min-width: 1050px) {
  
    .title h1 {
      font-size: 2rem;
    }
  
    .timers {
      margin-top: 5%;
      margin-bottom: 3%;
      width: 450px;
    }
        
        .stopwatch, .stopwatchgreen, .stopwatchred {
          height: 400px;
          width: 400px;
        }
      
        .stopwatch h2, .stopwatchred h2, .stopwatchgreen h2 {
          margin-top: 185px;
          font-size: 2rem;
        }  
        
        .stopwatch p, .stopwatchred p, .stopwatchgreen p {
          font-size: 2rem;
        }  
        

    }
    
    @media only screen and (min-width: 1350px) {
  
      .title h1 {
        font-size: 2rem;
      }
    
      .timers {
        margin-top: 2%;
        margin-bottom: 5%;
        width: 450px;
      }



          .stopwatch, .stopwatchgreen, .stopwatchred {
            height: 400px;
            width: 400px;
            margin-bottom: 5%;
          }
        
          .stopwatch h2, .stopwatchred h2, .stopwatchgreen h2 {
            margin-top: 185px;
            font-size: 2rem;
          }  
          
          .stopwatch p, .stopwatchred p, .stopwatchgreen p {
            font-size: 2rem;
          }  
          
          button {
            margin: 0 30px;
          }
      }
          